.dialog-mid::-webkit-scrollbar { width: 5px; }
.dialog-mid::-webkit-scrollbar-track { background: transparent; }
.dialog-mid::-webkit-scrollbar-thumb { background: #00000022; }

.dialog{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00000055;
    display: none;
}

.dialog-in{ background-color: white; }

.dialog-square{
    width: 500px;
    height: 280px;
    max-width: 90%;
    max-height: 90%;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
}

.dialog-top{ box-shadow: 0px 1px 0px 0px #00000015; }
.dialog-bot{ box-shadow: 0px -1px 0px 0px #00000015; }

.dialog-mid{ overflow: auto; }
.dialog-bot, .dialog-mid, .dialog-top{ padding: 10px; }
.dialog-mid{ flex: 1 }

.dialog-on{ display: flex; animation: dialog-fade-in 0.3s; pointer-events: initial; }
.dialog-on > .dialog-in{animation: dialog-zoom-in 0.3s}

.dialog-off{ display: flex; animation: dialog-fade-out 0.3s forwards; pointer-events: none; }
.dialog-off > .dialog-in{animation: dialog-zoom-out 0.3s forwards}


@keyframes dialog-zoom-in{ 
    0%{transform: scale(0.5);} 
    100%{transform: scale(1);} 
}

@keyframes dialog-zoom-out{ 
    0%{transform: scale(1);} 
    100%{transform: scale(0.5);} 
}

@keyframes dialog-fade-in{ 
    0%{ opacity: 0; visibility: visible; }
    100%{ opacity: 1; } 
}

@keyframes dialog-fade-out{ 
    0%{opacity: 1;} 
    100%{opacity: 0; visibility: hidden; } 
}

