.dialog-out {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #00000055;
    box-shadow: 0px 0px 3px #000000;
    transition-duration: 150ms;
    z-index: 10;
}

.dialog-in {
    border-radius: 0.25rem;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0px 3px 10px #00000022;
    transition-duration: 150ms
}

.hidden {display: none}
.scale-75 {transform: scale(0.75)}
.opacity-0 {opacity: 0}

.dialog-square{
    width: 430px;
    height: 250px;
    max-width: 90%;
}

.dialog-off{
    opacity: 0;
    animation: dialog-off 0.3s forwards;
    animation-delay: 0.3s;
}

.dialog-off .dialog-in{
    transform: scale(0.7);
}

@keyframes dialog-off{
    0%{ visibility: hidden; }
    100%{ visibility: hidden; }
}