.dialog{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #00000055;
    box-shadow: 0px 0px 3px #000000;
    transition-duration: 150ms;
    z-index: 10;
    display: none;
    /* opacity: 0; */
    /* animation: dialog-fade-out 0.5s forwards; */
}

.dialog > .dialog-in {
    border-radius: 0.25rem;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0px 3px 10px #00000022;
    transition-duration: 150ms;
    transform: scale(0.7);
}

.hidden {display: none}
.scale-75 {transform: scale(0.75)}
.opacity-0 {opacity: 0}

.dialog-square{
    width: 430px;
    height: 250px;
    max-width: 90%;
}

/* on */

.dialog-on{
    display: flex;
    animation: dialog-fade-in 150ms forwards;
}

.dialog-on > .dialog-in{
    animation: dialog-zoom-in 150ms forwards;
}

.dialog-off{
    display: flex;
    animation: dialog-fade-out 150ms forwards;
}

.dialog-off > .dialog-in{
    animation: dialog-zoom-out 150ms forwards;
}


@keyframes dialog-off{
    0%{ visibility: hidden; }
    100%{ visibility: hidden; }
}

@keyframes dialog-fade-out{
    0%{opacity: 1; }
    100%{opacity: 0; visibility: hidden; }
}

@keyframes dialog-fade-in{
    0%{opacity: 0; visibility: visible; }
    100%{opacity: 1; }
}

@keyframes dialog-zoom-in{
    0%{ transform: scale(0.7); }
    100%{ transform: scale(1); }
}

@keyframes dialog-zoom-out{
    0%{ transform: scale(1); }
    100%{ transform: scale(0.7); }
}
